{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "globals" : {
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "func-names": "off",
    "prefer-rest-params": "off"
  },
  "plugins": [
    "prettier"
  ]
}
